body {
  background-color: #c5c9c6;
  font-family: 'Karla', 'Open Sans', sans-serif;
}

.tear {
  background: url(../images/sepShadow2.png) repeat;
  height: 10px;
  z-index: 500;
  margin-bottom: -8px;
  width: 100%;
}

.intro{
  width: 808px;
    height: auto;
    margin-top: 50px;
    word-spacing: 2px;
    border-radius: 3px;
    padding: 15px;
    font-size: 13px;
    line-height: 20px;
    color: #274255;
}

.tile {
  width: 178px;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ffffff; */
  margin: 20px;
  background-color: #ffffff;
  border: #bcc4cb solid 1px;
  border-radius: 3px;
}

.card {
  width: 300px;
  height: 420px;
/*   margin-top: 40px;
  margin-left: 150px; */
  justify-self: center;
  position: relative;
  border-radius: 2px;
  background-color: #f9f9f9;
  box-sizing: content-box;
  display: grid;
  justify-content: center;
  align-content: center;
}
.card::after,
.card::before {
  content: "";
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle, #3396f5 50%, transparent 50%),
    radial-gradient(circle, #3396f5 50%, transparent 50%);
  background-size: 20px 20px;
}
.card::before {
  top: 10px;
  background-repeat: repeat-y;
  background-position: -4% 0%, 104.2% 0;
}
.card::after {
  width: 280px;
  height: 420px;
  left: 10px;
  background-repeat: repeat-x;
  background-position: 0% -3%, 0% 103%;
}

.caption {
  height: 25px;
    width: 100%;
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-size: 13px;
    color: #274255;
    padding-top: 10px;
}

/* .tile:hover{
  border:1px dotted #AB1A17;
} */
.projecticon {
  height: 150px;
  background: #f1f3f3;
  /* border: 1px dashed #bcc4cb; */
  border-radius: 3px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  /* width: 100%; */
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.top {
  margin: 0;
  padding: 0;
  background: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* border-bottom: #e7e7e7 solid 1px; */
}

.bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  max-width: 840px;
  justify-content: center;
  width: 840px;
  /* height: 100px; */
  align-items: center;
  padding: 20px;
  /* margin-top: 20px; */
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  flex: 2 0 0;
  flex-direction: column;
  justify-content: flex-start;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex: 1 0 0;
  align-self: center;
  font-size: 18px;
}

.banner {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

a {
  color: #D85C26;
}

a.selected:link {
  text-decoration: none;
  padding-left: 20px;
}

a.deselected:link {
  text-decoration: none;
  padding-left: 20px;
  opacity: 0.5;
}

.name {
  font-size: 26px;
margin-bottom: 2px;
font-weight: bold;
}

.subtitle {
  font-size: 13px;
  color: #274255;
  margin-top: 5px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  max-width: 800px;
  margin: auto;
}

.split {
  display: flex;
  flex-direction: row;
}

.aboutme {
  margin-top: 40px;
  width: 400px;
  font-size: 13px;
  line-height: 22px;
  margin-left: 30px;
  margin-right: 100px;
  color: #274255;
}

.outline {
  display: flex;
  display: -ms-flexbox;
  align-content: center;
  align-self: center;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 100%;
}

.socialContent {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-content: flex-end;
}

.leadimage {
  width: 760px;
}

.leadphoto {
  padding: 20px;
  margin-top: 20px;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

.aboutme {
  margin-top: 40px;
  width: 400px;
  font-size: 13px;
  line-height: 22px;
  margin-left: 30px;
  margin-right: 100px;
  color: #015084;
}

.outline {
  display: flex;
  display: -ms-flexbox;
  align-content: center;
  align-self: center;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}

.social {
  padding: 10px;
  color: #4d4d4d;
  font-size: 20px;
}

.social-container {
  text-decoration: none;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  width: 250px;
  padding: 0;
  justify-content: flex-end;
}

.display {
  margin-top: 40px;
  text-decoration: none;
  /* flex-flow: row wrap; */
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.phone {
  height: 600px;
  /*    width: 295px;
    */
  border: none;
}

.detail {
  border: 1px solid #eeeeee;
    border-radius: 10px;
    width: 300px;
    margin-left: 50px;
    color: #274255;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 600px;
    background: white;
    letter-spacing: 0.5;
    line-height: 22px;
}

.fa {
  color: #274255;
  font-size: 24px !important;
}

.projectTitle {
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 300px;
  align-items: center;
}

.projectName {
  padding-left: 15px;
  height: 50px;
  width: 200px;
  border-right: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.projectLink {
  border-right: 1px solid #eeeeee;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #d14e2f;
}

.projectRepo {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #2e94b2;
}

.projectWhy {
  height: 60px;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
}

.projectTech {
  height: 200px;
  border-bottom: 1px solid #eeeeee;
}

.projectStory {
  padding: 15px;
}

/* iPhone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .container {
    /* width: 100%; */
    max-width: 375px;
  }

  .bar {
    width: 100%;
    margin-top: 0;
    padding: 20px;
  }

  .navigation {
    flex: none;
  }

  .tile {
    height: 145px;
    width: 145px;
  }

  .name {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .projecticon {
    height: 110px;
  }

  .display {
    100%;
    flex-direction: column;
  }

  .phone {
    width: 80%;
  }

  .detail {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    width: 100%%;
    /* margin-left: 50px; */
    color: #015084;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 600px;
    background: white;
    letter-spacing: 0.5;
    line-height: 22px;
    margin-top: 50px;
  }

.intro{
  width: 80%;
 height: auto;
margin-top: 50px;
word-spacing: 2px;
border-radius: 3px;
padding: 15px;
font-size: 16px;
line-height: 20px;
color: #274255;
}

.tear{
  display: none;
}

  .leadimage {
    width: 100%;
    border: none;
    background: none;
  }

  .split {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .aboutme {
    margin-top: 40px;
    width: auto;
    font-size: 13px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 30px;
    color: #274255;
    font-size: 16px;
  }

  .leadphoto {
    padding: 20px;
    background: none;
    border-radius: 4px;
    border: none;
  }
}

/* iPhone 8 */
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {}

/*  iPhone 8 Plus */
@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {}

/* Galaxy S5 portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .bar {
    width: 90%;
    margin-top: 0;
    padding: 20px;
  }

  .tile {
    width: 138px;
    height: 138px;
  }

  .display {
    100%;
    flex-direction: column;
  }

  .phone {
    width: 80%;
    height: auto;
  }

  .detail {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    width: 100%%;
    /* margin-left: 50px; */
    color: #015084;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 600px;
    background: white;
    letter-spacing: 0.5;
    line-height: 22px;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .leadimage {
    width: 100%;
    border: none;
    background: none;
  }

  .split {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .aboutme {
    margin-top: 40px;
    width: auto;
    font-size: 13px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 30px;
    color: #015084;
    font-size: 16px;
  }

  .leadphoto {
    padding: 20px;
    background: none;
    border-radius: 4px;
    border: none;
  }

  .subtitle {
    display: none;
  }
}

@media only screen and (min-width: 411px) and (orientation: portrait) {
  .container {
    /* width: 100%; */
    max-width: 411px;
  }

  .bar {
    width: 90%;
    margin-top: 0;
    padding: 20px;
  }

  .tile {
    width: 162px;
    height: 162px;
  }

  .display {
    100%;
    flex-direction: column;
  }

  .phone {
    width: 80%;
    height: auto;
  }

  .detail {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    width: 100%%;
    /* margin-left: 50px; */
    color: #015084;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 600px;
    background: white;
    letter-spacing: 0.5;
    line-height: 22px;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .leadimage {
    width: 100%;
    border: none;
    background: none;
  }

  .split {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .aboutme {
    margin-top: 40px;
    width: auto;
    font-size: 13px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 30px;
    color: #015084;
    font-size: 16px;
  }

  .leadphoto {
    padding: 20px;
    background: none;
    border-radius: 4px;
    border: none;
  }

  .intro{
    width: 80%;
   height: auto;
  margin-top: 50px;
  word-spacing: 2px;
  border-radius: 3px;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  color: #274255;
  }

  .tear{
    display: none;
  }

  .subtitle {
    display: none;
  }
}

/* iPhone 6, 7, & 8 in portrait & landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .container {
    /* width: 100%; */
    max-width: 375px;
  }

  .bar {
    width: 100%;
    margin-top: 0;
    padding: 20px;
  }

  .navigation {
    flex: none;
  }

  .tile {
    height: 175px;
    width: 145px;
  }

  .name {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .projecticon {
    height: 110px;
  }

  .display {
    100%;
    flex-direction: column;
  }

  .phone {
    width: 80%;
    height: auto;
  }

  .detail {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    width: 100%%;
    /* margin-left: 50px; */
    color: #015084;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 600px;
    background: white;
    letter-spacing: 0.5;
    line-height: 22px;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .leadimage {
    width: 100%;
    border: none;
    background: none;
  }

  .leadphoto {
    padding: 20px;
    background: none;
    border-radius: 4px;
    border: none;
  }

  .split {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .aboutme {
    margin-top: 40px;
    width: auto;
    font-size: 13px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 30px;
    color: #015084;
    font-size: 16px;
  }

  .subtitle {
    display: none;
  }
}
