.tile {
  height: 248px;
  width: 248px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
}

/* .tile:hover{
  border:1px dotted #AB1A17;
} */
.projecticon {
  height: 170px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  /* width: 100%; */
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top {
  margin: 0;
  padding: 0;
  background: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* border-bottom: 1px solid #eee; */
}

.bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  max-width: 900px;
  justify-content: center;
  width: 900px;
  height: 100px;
  align-items: center;
  background: #00ABC0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  flex: 2 0 0;
  flex-direction: column;
  justify-content: flex-start;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex: 1 0 0;
  align-self: center;
}

.banner {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

a.selected:link {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

.selected {
  color: white;
}

a.deselected:link {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

.deselected {
  font-weight: normal;
  color: white;
  opacity: 0.25;
}

.name {
  color: white;
  font-size: 26px;
  margin-bottom: 2px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

/* iPhone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .container {
    /* width: 100%; */
    max-width: 375px;
  }

  .bar {
    width: 330px;
  }

  .tile {
    height: 180px;
    width: 180px;
  }

  .name {
    color: white;
    font-size: 20px;
    margin-bottom: 2px;
  }

  .projecticon {
    height: 150px;
  }
}

/* iPhone 8 */
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {}

/*  iPhone 8 Plus */
@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {}
